@import "font_awesome5";
@import "bootstrap-sprockets";
@import "bootstrap";

/* ==================================================================================================== */



/* ================================== RESET CSS =========================================== */
* {
  padding:0;
  margin:0;
  box-sizing:border-box
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
button:hover {
  text-decoration: none;
  color: inherit;
}
.no-hover > a:hover {
  text-decoration: none;
  color: white;
}

/* ==================================================================================== */


/* ================================== CORES =========================================== */

.supremo-bg-dark {
  background-color: #2B3D47;
}
.supremo-bg-gray {
  background-color: #f8f8f8;
}
.supremo-table-top-colour {
  background-color: #F3F2F7;
}
.supremo-table-colour > tbody > tr > td {
  background-color: #FFFFFF;
}
.supremo-navbar-colour {
  background-color: #2B3D47;
}
.supremo-sidebar-nav-colour-hover > li > a:hover {
  background-color: #2B3D47;
  color: #EFEFEF;
}
.text-white {
  color: #FFFFFF;
}
.supremo-btn-gray {
  background-color: #2B3D47;
}
.supremo-btn-gray:hover {
  background-color: black;
}

/* ==================================================================================== */



/* ================================== TAMANHO  ======================================== */

.supremo-size-actions-button {
  width: 2px;
}
.navbar_logo_supremo {
  width: 35%;
}

/* ==================================================================================== */



/* ======================================== FLEX ====================================== */

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.align-items-center {
  align-items: center;
}
.align-content-center {
  align-content: center;
}

/* ================================================================================== */

.supremo-hover-click {
  cursor: pointer;
}
/* ======================================= ESPAÇAMENTO ============================== */

.pad-right-5 {
  padding-right: 5px;
}
.pad-left-5 {
  padding-left: 5px;
}