<nav class="navbar supremo-navbar-colour ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="" href="#">
        <%= image_tag ("navbar_logo_supremo.png"), class:"navbar_logo_supremo" %>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <%= ("#{current_user.name}") %> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to fa_icon('user-edit' , text: t("general.buttons.edit")), edit_user_path(current_user) %>
          </li>
          <li>
            <%=(link_to fa_icon('sign-out-alt' , text: t("general.buttons.logout")), destroy_user_session_path, method: :delete) %>
          </li>
        </ul>
    </ul>
  </div>
</nav>






